@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:300");
.dropdown-menu .dropdown-item, .tb--link, .navbar-dark .nav-main .nav-link, .header-menu .btn-group .btn, .mem-plan--item, .combo-pills .nav-link, .prod-thumb, .prod--review, .prod--write, .form-prod-option label, .product--action, .product--quick-view, .product--wishlist, .product--quick-view:hover i.fa, .product--quick-view:focus i.fa, .product--wishlist:hover i.fa, .product--wishlist:focus i.fa, .footer-nav-list a, .social--icon, .btn-brand, .btn-secondary, .btn-accent, .product--item::before, .product--item::after {
  -webkit-transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#cce5ff), to(#c9a6e4));
  background: -webkit-linear-gradient(top left, #cce5ff, #c9a6e4);
  background: -o-linear-gradient(top left, #cce5ff, #c9a6e4);
  background: linear-gradient(to bottom right, #cce5ff, #c9a6e4);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.row {
  margin-left: 0em;
  margin-right: 0em; }
  .row > :first-child {
    padding-left: 0; }
  .row > :last-child {
    padding-right: 0; }

.col-xl-1, .col-lg-1, .col-md-1, .col-sm-1, .col-xs-1 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-1, .col-lg-1, .col-md-1, .col-sm-1, .col-xs-1 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-2, .col-lg-2, .col-md-2, .col-sm-2, .col-xs-2 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-2, .col-lg-2, .col-md-2, .col-sm-2, .col-xs-2 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-3, .col-lg-3, .col-md-3, .col-sm-3, .col-xs-3 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-3, .col-lg-3, .col-md-3, .col-sm-3, .col-xs-3 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-4, .col-lg-4, .col-md-4, .col-sm-4, .col-xs-4 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-4, .col-lg-4, .col-md-4, .col-sm-4, .col-xs-4 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-5, .col-lg-5, .col-md-5, .col-sm-5, .col-xs-5 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-5, .col-lg-5, .col-md-5, .col-sm-5, .col-xs-5 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-6, .col-lg-6, .col-md-6, .col-sm-6, .col-xs-6 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-6, .col-lg-6, .col-md-6, .col-sm-6, .col-xs-6 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-7, .col-lg-7, .col-md-7, .col-sm-7, .col-xs-7 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-7, .col-lg-7, .col-md-7, .col-sm-7, .col-xs-7 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-8, .col-lg-8, .col-md-8, .col-sm-8, .col-xs-8 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-8, .col-lg-8, .col-md-8, .col-sm-8, .col-xs-8 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-9, .col-lg-9, .col-md-9, .col-sm-9, .col-xs-9 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-9, .col-lg-9, .col-md-9, .col-sm-9, .col-xs-9 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-10, .col-lg-10, .col-md-10, .col-sm-10, .col-xs-10 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-10, .col-lg-10, .col-md-10, .col-sm-10, .col-xs-10 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-11, .col-lg-11, .col-md-11, .col-sm-11, .col-xs-11 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-11, .col-lg-11, .col-md-11, .col-sm-11, .col-xs-11 {
      padding-left: .5em;
      padding-right: .5em; } }

.col-xl-12, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 36rem) {
    .col-xl-12, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
      padding-left: .5em;
      padding-right: .5em; } }

.main {
  margin: auto;
  max-width: 90rem;
  background-color: #f7f7f7; }
  @media (min-width: 48rem) {
    .main {
      width: 95%; } }

.container--footer {
  margin: auto;
  max-width: 90rem;
  padding: 0 1em; }
  @media (min-width: 48rem) {
    .container--footer {
      width: 95%;
      padding: 0; } }

.section {
  padding: 1em;
  background-color: #ffffff; }

.form-control {
  border-radius: 0px;
  border: 1px solid transparent; }
  .form-control:focus {
    outline: none;
    border-color: transparent; }

.input-group-text {
  border-radius: 0px; }

span.req {
  color: red; }

textarea {
  resize: none; }

.ows-link {
  display: inline-block; }
  .ows-link:hover, .ows-link:focus {
    text-decoration: none;
    color: inherit; }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border-color: #652d91; }
  .dropdown-menu .dropdown-item {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    color: #ffffff;
    background-color: #8d45c5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    .dropdown-menu .dropdown-item:last-child {
      border: none; }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
      background-color: #652d91; }

.unstyled-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.bg-light {
  background: #f7f7f7 !important; }

.section--heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-size: 1.25rem;
  text-align: center;
  position: relative;
  margin: auto auto 0.75em;
  padding-bottom: 1em; }
  .section--heading::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #652d91;
    margin-top: 1em;
    opacity: 0.6; }
    @media (min-width: 48rem) {
      .section--heading::after {
        max-width: 90rem;
        width: calc(100% + 1.25em); } }
  @media (min-width: 48rem) {
    .section--heading {
      font-size: 1.5rem; } }

.section--heading--inner {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  position: relative;
  margin: auto -1em 0.75em;
  padding: 1em 1em 1em 2em;
  background: #f7f7f7; }

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem; }
  .top-bar p {
    margin-bottom: 0; }
  @media (min-width: 36rem) {
    .top-bar {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.tb--link {
  text-decoration: none;
  color: #ffffff; }
  .tb--link:hover, .tb--link:focus {
    text-decoration: none;
    color: #25d365; }
    .tb--link:hover .tb--icon, .tb--link:focus .tb--icon {
      background: #25d365;
      color: #ffffff;
      border-radius: 50%;
      transfrom: scale(1.1); }
  @media (min-width: 62rem) {
    .tb--link {
      display: inline-block;
      font-size: 0.8rem;
      padding: 0.25em 0.5em;
      border-radius: 0.25em; }
      .tb--link:hover, .tb--link:focus {
        background: #25d365;
        text-decoration: none;
        color: #ffffff; }
        .tb--link:hover .tb--icon, .tb--link:focus .tb--icon {
          background: #25d365;
          color: #ffffff;
          border-radius: 0;
          transfrom: scale(1); } }

.tb--icon {
  color: #25d365;
  font-size: 1rem;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  border-radius: 50%; }
  .tb--icon:hover, .tb--icon:focus {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: #25d365;
    color: #ffffff; }
  @media (min-width: 62rem) {
    .tb--icon {
      font-size: 1.25rem; } }

.tb--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1em; }
  @media (min-width: 48rem) {
    .tb--left {
      margin-bottom: 0;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }

.tb-dropdown .btn {
  color: #ffffff;
  padding: 0;
  background: none;
  font-size: 0.8rem; }

.tb--center {
  max-width: 150px;
  margin-bottom: 1em; }
  @media (min-width: 36rem) {
    .tb--center {
      max-width: 200px; } }
  @media (min-width: 48rem) {
    .tb--center {
      margin-bottom: 0;
      max-width: 150px; } }
  @media (min-width: 62rem) {
    .tb--center {
      max-width: 200px; } }

.tb--right {
  width: 100%; }
  @media (min-width: 36rem) {
    .tb--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 0; } }
  @media (min-width: 48rem) {
    .tb--right {
      width: auto; } }

.menu-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1em; }
  .menu-whatsapp p {
    margin-bottom: 0; }
  .menu-whatsapp span {
    margin-left: 1em; }
    @media (min-width: 48rem) {
      .menu-whatsapp span {
        display: block;
        margin: auto; } }
  @media (min-width: 36rem) {
    .menu-whatsapp {
      margin-bottom: 0; } }
  @media (min-width: 48rem) {
    .menu-whatsapp {
      margin-right: 1em; } }

.menu-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menu-auth {
  margin-right: 0.8em; }

.menu-cart .tb--icon {
  margin-right: 0;
  margin-left: 0.7em; }

.mainnavbar {
  background-color: #652d91;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navbar-brand {
  max-width: 80px;
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -2;
  order: -2; }

.navbar-toggler {
  padding: 0.2em 0.5em; }

.nav-form {
  width: 100%;
  margin: 1em 0; }
  .nav-form .input-group {
    width: 100%; }
  .nav-form .form-control {
    border: 1px solid #f7f7f7;
    -webkit-box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.15); }
    .nav-form .form-control::-webkit-input-placeholder {
      font-size: 0.8rem; }
    .nav-form .form-control:-ms-input-placeholder {
      font-size: 0.8rem; }
    .nav-form .form-control::-ms-input-placeholder {
      font-size: 0.8rem; }
    .nav-form .form-control::placeholder {
      font-size: 0.8rem; }
  @media (min-width: 48rem) {
    .nav-form {
      width: auto;
      margin: 0 2em 0 4em;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; } }
  @media (min-width: 76rem) {
    .nav-form {
      width: auto;
      min-width: 300px;
      margin: 0 3em 0 6em; } }

@media (min-width: 62rem) {
  .navbar-dark .nav-main .nav-item {
    margin-left: 1em; } }

.navbar-dark .nav-main .nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 0.9rem; }
  .navbar-dark .nav-main .nav-link:focus, .navbar-dark .nav-main .nav-link:hover, .navbar-dark .nav-main .nav-link.active {
    border-radius: 0.25em;
    background: #8039b8;
    color: #ffffff; }

.navbar-dark .nav-main.active .nav-link {
  border-radius: 0.25em;
  background: #8039b8;
  color: #ffffff; }

@media (min-width: 62rem) {
  .navbar-dark .nav-main {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: auto; } }

.home-header {
  margin-bottom: 1em; }
  .home-header figure {
    margin: auto; }
  .home-header .ows-link {
    width: 100%; }
    @media (min-width: 48rem) {
      .home-header .ows-link {
        width: auto; } }
  .home-header .owl-carousel .owl-item img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    width: 100%; }

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 1em; }
  .header-menu .btn-group {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-menu .btn-group .btn {
      color: #686868;
      margin: auto 0.5em;
      border-bottom: 1px solid #f7f7f7;
      display: inline-block;
      text-align: left;
      font-size: 0.9rem;
      border-radius: 0;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      background: none; }
      .header-menu .btn-group .btn:focus, .header-menu .btn-group .btn:active, .header-menu .btn-group .btn:hover {
        outline: none;
        color: gray;
        background: rgba(0, 0, 0, 0.05); }
      .header-menu .btn-group .btn:last-child {
        border-bottom: none; }
      .header-menu .btn-group .btn::after {
        display: none; }
      .header-menu .btn-group .btn::before {
        content: '\f01d';
        display: inline-block;
        font-family: FontAwesome;
        right: auto;
        left: 0;
        color: #686868;
        font-size: 0.8rem;
        opacity: 0.8;
        margin-right: 1em;
        margin-left: 0.5em; }
  @media (max-width: 48rem) {
    .header-menu .dropdown-menu.show {
      position: static !important;
      -webkit-transform: initial !important;
      -ms-transform: initial !important;
      transform: initial !important; } }
  @media (min-width: 62rem) {
    .header-menu {
      margin-bottom: 0;
      height: 100%; } }

.header-menu--title {
  width: 100%;
  font-size: 0.9rem;
  padding: 1em;
  text-align: center;
  background-color: #007dff;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1; }

.header-slider--saree, .header-slider--suit, .header-slider--gown, .header-mem-plans {
  margin-bottom: 1em;
  background-color: #ffffff; }

.header-slider--saree.owl-carousel {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 62rem) {
    .header-slider--saree.owl-carousel {
      padding: 0.4em; } }

.header-mem-plans {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  @media (min-width: 62rem) {
    .header-mem-plans {
      padding: 0.4em; } }

.header-slider--suit.owl-carousel, .header-slider--gown.owl-carousel {
  height: calc(50% - 0.2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.4em; }
  @media (min-width: 62rem) {
    .header-slider--suit.owl-carousel, .header-slider--gown.owl-carousel {
      padding: 0.4em; } }

@media (min-width: 62rem) {
  .header-slider--gown {
    margin-bottom: 0; } }

.hmp--title {
  font-size: 1rem;
  padding: 1em;
  text-align: center;
  background-color: #007dff;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  width: 100%; }

.mem-plan--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 0.75em;
  text-align: center;
  height: 100%; }
  .mem-plan--item:hover, .mem-plan--item:focus {
    -webkit-transform: scale(1.1) translateZ(1px);
    transform: scale(1.1) translateZ(1px);
    -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2); }
  .mem-plan--item h3 {
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3d3d3d;
    margin-bottom: 1.5em;
    margin-top: 1em; }
  .mem-plan--item img {
    margin-bottom: 1.5em;
    max-width: 100px; }
  .mem-plan--item .mem-price {
    font-size: 0.8rem;
    padding-bottom: 0.25em;
    font-weight: 700;
    margin-bottom: 0.25em;
    border-bottom: 1px solid #007dff; }
  .mem-plan--item .mem-benefit {
    font-size: 0.8rem;
    margin-bottom: 1.25em; }
  .mem-plan--item .mem-duration {
    font-size: 0.7rem;
    margin-bottom: 0.25em;
    margin-top: auto; }
  .mem-plan--item .btn {
    text-transform: uppercase;
    margin-bottom: 1em; }

.section-combos {
  margin-bottom: 1.5em; }

.combo-pills {
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 0.75em; }
  .combo-pills::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #652d91;
    margin-top: 1em;
    opacity: 0.6;
    bottom: 0; }
    @media (min-width: 48rem) {
      .combo-pills::after {
        max-width: 90rem;
        width: calc(100% + 1.75em); } }
  .combo-pills .nav-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center; }
    @media (min-width: 48rem) {
      .combo-pills .nav-item {
        -ms-flex-preferred-size: auto;
        flex-basis: auto; } }
  .combo-pills .nav-link {
    text-transform: uppercase;
    font-size: 1rem;
    color: #4a4a4a;
    font-weight: 700; }
    .combo-pills .nav-link.active, .combo-pills .nav-link:hover, .combo-pills .nav-link:focus {
      background-color: transparent;
      color: #303030; }
  @media (min-width: 48rem) {
    .combo-pills {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.section-enquiry {
  background-color: #f7f7f7; }

.form-enquiry {
  background-color: #ffffff;
  margin: 0 -1em 1em;
  padding: 0 1em 1em; }
  .form-enquiry label {
    font-size: 0.9rem; }
  .form-enquiry .form-control {
    background-color: #f7f7f7; }
  @media (min-width: 62rem) {
    .form-enquiry {
      margin: 0; } }

.form--title, .vid--title {
  font-size: 1.25rem;
  margin: 0 auto 0.75em;
  padding: 0.75em;
  background-color: #007dff;
  color: #ffffff;
  max-width: 500px;
  text-align: center; }

.vid-player {
  margin: 0 -1em;
  background-color: #ffffff; }
  .vid-player video {
    width: 100%;
    max-width: 100%;
    height: auto; }
  @media (min-width: 48rem) {
    .vid-player {
      padding: 0 1em 1em; } }
  @media (min-width: 62rem) {
    .vid-player {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      height: 100%; } }

.vid--title {
  width: 100%; }

.prod-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media (min-width: 64rem) {
    .prod-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.prod-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2em; }
  @media (min-width: 48rem) {
    .prod-img-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  @media (min-width: 64rem) {
    .prod-img-container {
      margin-bottom: 0;
      margin-right: 1.5rem;
      width: auto;
      max-width: 32rem;
      position: -webkit-sticky;
      position: sticky;
      top: 1em; } }

.prod-thumb-nav {
  display: block;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  max-width: calc(100vw - 2em);
  overflow-x: scroll;
  margin-top: 1em;
  margin-bottom: 0; }
  .prod-thumb-nav a {
    display: inline-block;
    max-width: 60px;
    max-height: 60px; }
    .prod-thumb-nav a:not(:last-child) {
      margin-right: 0.5em; }
    @media (min-width: 48rem) {
      .prod-thumb-nav a {
        max-height: none;
        max-width: none; }
        .prod-thumb-nav a:not(:last-child) {
          margin-right: 0em;
          margin-bottom: 0.5em; } }
  @media (min-width: 48rem) {
    .prod-thumb-nav {
      max-width: 6.5rem;
      width: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      max-height: 32rem;
      overflow-x: hidden;
      overflow-y: auto;
      margin-top: 0;
      margin-right: 1.5em; } }

.prod-thumb {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #cacaca;
  margin-left: 0;
  margin-bottom: 0; }
  .prod-thumb:hover, .prod-thumb:focus {
    border-width: 2px;
    border-color: #652d91; }
  .prod-thumb.xactive {
    border-color: #652d91; }
  @media (min-width: 48rem) {
    .prod-thumb {
      max-width: 60px; } }

.prod-detail-container {
  width: 100%; }

.prod-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1em; }
  @media (min-width: 48rem) {
    .prod-head {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.prod--name {
  font-size: 1.25rem;
  color: #000000;
  font-weight: 900; }
  @media (min-width: 48rem) {
    .prod--name {
      font-size: 1.5rem;
      margin: 0;
      margin-right: 1em; } }

.prod--rate {
  margin-bottom: 0; }

.prod--rating {
  display: inline-block;
  margin-right: 0.5em; }
  .prod--rating .prod--icon {
    color: #f2b01e;
    font-size: 0.9rem; }

.prod--review, .prod--write {
  display: inline-block;
  font-size: 0.9rem;
  color: #3d3d3d;
  padding: 0.15em 0.35em;
  border-radius: 0.25em; }
  .prod--review:hover, .prod--review:focus, .prod--write:hover, .prod--write:focus {
    text-decoration: none;
    background: #3d3d3d;
    color: #ffffff; }

.prod-price {
  color: #652d91;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1em; }

.prod--size {
  margin-bottom: 1em; }
  .prod--size p {
    font-size: 0.8rem;
    margin-bottom: 1em; }
    .prod--size p:last-child {
      margin-bottom: 0; }
  .prod--size .btn-brand {
    font-size: 0.8rem;
    padding: 0.5em 1em; }

.prod-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1em; }
  .prod-btn .btn:not(:last-child) {
    margin-bottom: 1em; }
  @media (min-width: 37rem) {
    .prod-btn .btn:not(:last-child) {
      margin-right: 1em;
      margin-bottom: 0; } }
  @media (min-width: 37rem) {
    .prod-btn {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.prod-options {
  margin-bottom: 1em; }

.prod--title {
  font-size: 0.8rem;
  padding-bottom: 1em;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 1.25em; }
  @media (min-width: 48rem) {
    .prod--title {
      font-size: 0.9rem;
      max-width: 32rem; } }

.prod--option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1em; }
  .prod--option:last-child {
    margin-bottom: 0; }
  .prod--option .option--title {
    margin-bottom: 1em;
    font-size: 0.8rem; }
    @media (min-width: 37rem) {
      .prod--option .option--title {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 7rem;
        flex: 0 0 7rem; } }
    @media (min-width: 48rem) {
      .prod--option .option--title {
        font-size: 0.9rem; } }
  .prod--option .option--content {
    max-width: 32rem; }
    @media (min-width: 37rem) {
      .prod--option .option--content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 14rem);
        flex: 0 0 calc(100% - 14rem); } }
  @media (min-width: 37rem) {
    .prod--option {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.delivery-check {
  max-width: 15rem;
  border-bottom: 1px solid #007dff;
  font-family: 'Lato', 'FontAwesome', sans-serif; }
  .delivery-check::-webkit-input-placeholder {
    font-size: 0.75rem; }
  .delivery-check:-ms-input-placeholder {
    font-size: 0.75rem; }
  .delivery-check::-ms-input-placeholder {
    font-size: 0.75rem; }
  .delivery-check::placeholder {
    font-size: 0.75rem; }
  .delivery-check + .input-group-append {
    z-index: 0; }

#deliveryHelp {
  width: 100%; }

.form-prod-option {
  max-width: 60px;
  height: auto;
  margin-right: 0em; }
  .form-prod-option input[type="checkbox"],
  .form-prod-option input[type="radio"] {
    width: 0.1px;
    height: 0.1px;
    visibility: hidden; }
    .form-prod-option input[type="checkbox"]:checked + label,
    .form-prod-option input[type="radio"]:checked + label {
      border-color: #007dff; }
  .form-prod-option label {
    padding: 0.5em;
    border: 1px solid #cacaca;
    margin-bottom: 0.5em; }
    .form-prod-option label:hover, .form-prod-option label:focus {
      cursor: pointer;
      border-width: 2px;
      border-color: #007dff; }

.prod-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1em; }
  .prod-features ul {
    margin-left: 1.5em; }
  .prod-features li {
    font-size: 0.9rem;
    line-height: 1.5;
    position: relative;
    padding: 0.25em 0 0.25em 1.5em; }
    .prod-features li::before {
      content: '\f0c1';
      font-family: 'FontAwesome';
      font-size: 1rem;
      position: absolute;
      display: inline-block;
      left: -0.25em;
      color: #652d91;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media (min-width: 37rem) {
    .prod-features {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.prod--highlights {
  margin-bottom: 1em; }
  @media (min-width: 37rem) {
    .prod--highlights {
      margin-bottom: 0;
      margin-right: 0.5em;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(60% - 0.5em);
      flex: 0 0 calc(60% - 0.5em); } }
  @media (min-width: 64rem) {
    .prod--highlights {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(55% - 0.5em);
      flex: 0 0 calc(55% - 0.5em); } }

@media (min-width: 37rem) {
  .prod--services {
    margin-left: 0.5em;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(40% - 0.5em);
    flex: 0 0 calc(40% - 0.5em); } }

@media (min-width: 64rem) {
  .prod--services {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(45% - 0.5em);
    flex: 0 0 calc(45% - 0.5em); } }

.prod-fea-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.75em 0.75em 0.75em 2em;
  font-size: 0.8rem;
  font-weight: 700;
  background: #f7f7f7;
  margin: 0 -1.25em 1em; }
  @media (min-width: 48rem) {
    .prod-fea-title {
      margin: 0 -1.25em 1em 0; } }

.prod--specs {
  margin-left: 1.5em; }
  .prod--specs li {
    font-size: 0.9rem;
    line-height: 1.5;
    position: relative;
    padding: 0.25em 0 0.25em 1.5em; }
    .prod--specs li::before {
      content: '\f2dd';
      font-family: 'FontAwesome';
      font-size: 1rem;
      position: absolute;
      display: inline-block;
      left: -0.25em;
      color: #652d91;
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      transform: rotate(35deg); }

.category-header {
  margin-bottom: 1em; }
  @media (min-width: 48rem) {
    .category-header .header-menu {
      margin-bottom: 0; } }

.catsaree--banner {
  background-image: url("../img/_catsaree/category-banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.section-category {
  padding: 0;
  background: #f7f7f7; }

.filters {
  background: #f7f7f7; }

.filter {
  background: #ffffff; }
  .filter:not(:last-child) {
    margin-bottom: 1em; }
  .filter .filter--title {
    font-size: 0.9rem;
    margin: auto;
    padding: 0.75em 0.75em 0.75em 2em;
    background: #007dff;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1; }
  .filter .filter--item {
    padding-left: 2em;
    margin: 0 0.5em; }
    .filter .filter--item:not(:last-child) {
      border-bottom: 1px solid #f7f7f7; }
    .filter .filter--item .custom-control-input[type="checkbox"] {
      width: 0.1px;
      height: 0.1px;
      visibility: hidden;
      position: absolute;
      left: -5000px;
      z-index: -1; }
      .filter .filter--item .custom-control-input[type="checkbox"]:checked ~ .custom-control-label::before, .filter .filter--item .custom-control-input[type="checkbox"]:checked ~ .custom-control-label::after {
        content: '\f046';
        background: none;
        color: #652d91; }
    .filter .filter--item .custom-control-label {
      font-size: 0.8rem;
      padding: 0.75em 0;
      display: inline-block;
      position: relative;
      width: 100%; }
      .filter .filter--item .custom-control-label:hover, .filter .filter--item .custom-control-label:focus, .filter .filter--item .custom-control-label:active {
        cursor: pointer;
        color: #7333a4; }
      .filter .filter--item .custom-control-label::before, .filter .filter--item .custom-control-label::after {
        content: '\f096';
        position: absolute;
        display: inline-block;
        font-family: 'FontAwesome';
        font-weight: 300;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        padding: 0;
        margin: 0;
        color: #a6a6a6;
        font-size: 1rem;
        top: .5em; }

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .product-list .ows-link {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    background: #ffffff;
    margin-bottom: 1em;
    padding: 0.5em 0.15em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden; }
    .product-list .ows-link:hover, .product-list .ows-link:focus {
      -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
      z-index: 2;
      border-radius: .25em; }
      .product-list .ows-link:hover .product--item, .product-list .ows-link:focus .product--item {
        overflow: hidden; }
        .product-list .ows-link:hover .product--item::before, .product-list .ows-link:hover .product--item::after, .product-list .ows-link:focus .product--item::before, .product-list .ows-link:focus .product--item::after {
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1); }
      .product-list .ows-link:hover .product--action, .product-list .ows-link:focus .product--action {
        z-index: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    @media (min-width: 30rem) {
      .product-list .ows-link {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50%);
        flex: 0 0 calc(50%); } }
    @media (min-width: 62rem) {
      .product-list .ows-link {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.333333%);
        flex: 0 0 calc(33.333333%); } }
    @media (min-width: 75rem) {
      .product-list .ows-link {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(25%);
        flex: 0 0 calc(25%); } }

.product--action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em; }
  @media (min-width: 48rem) {
    .product--action {
      width: auto;
      position: absolute;
      bottom: 0em;
      left: 0.25em;
      right: 0.25em;
      margin-top: 0;
      opacity: 0;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%); } }
  .product--action > button:not(:last-child) {
    border-right: 1px solid #f7f7f7; }

.product--quick-view, .product--wishlist {
  font-size: 0.8rem;
  background: #652d91;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  text-align: center;
  padding: 0.75em 0.5em;
  color: #e6e6e6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .product--quick-view:hover, .product--quick-view:focus, .product--wishlist:hover, .product--wishlist:focus {
    color: #ffffff;
    background: #8039b8;
    cursor: pointer; }
    .product--quick-view:hover i.fa, .product--quick-view:focus i.fa, .product--wishlist:hover i.fa, .product--wishlist:focus i.fa {
      color: red; }

.product--quick-view {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%; }

.product--wishlist {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }

.footer {
  background-image: url("../img/bg-footer2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: overlay; }

.footer-nav {
  margin-bottom: 1em; }

.footer-nav-title {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1em; }

.footer-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .footer-nav-list a {
    font-size: 0.9rem;
    color: #a6a6a6; }
    .footer-nav-list a:hover, .footer-nav-list a:focus {
      color: #8e8e8e;
      text-decoration: none; }
    .footer-nav-list a img {
      opacity: 0.6; }
      .footer-nav-list a img:hover, .footer-nav-list a img:focus {
        opacity: 0.8; }
  .footer-nav-list.payment-list, .footer-nav-list.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .footer-nav-list.payment-list li:not(:last-child), .footer-nav-list.social-list li:not(:last-child) {
      margin-right: 1em; }

.social--icon {
  font-size: 1rem;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center; }
  .social--icon:hover, .social--icon:focus {
    background: #dedede;
    color: #737373;
    border-radius: 50%; }

.copyright {
  background-color: #222222; }

.copyright--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1em 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (min-width: 48rem) {
    .copyright--inner {
      padding: 1em; } }

.footer--logo {
  max-width: 75px; }

.copyright--text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #e6e6e6;
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-top: 1em; }
  @media (min-width: 30rem) {
    .copyright--text {
      -webkit-box-ordinal-group: initial;
      -ms-flex-order: initial;
      order: initial;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      margin-top: 0; } }

.gstin {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 0.9rem;
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn-brand {
  background-color: #007dff;
  color: #ffffff;
  border: 1px solid #007dff;
  border-radius: 0px; }
  .btn-brand:hover, .btn-brand:focus {
    background-color: #0069d6;
    color: #ffffff;
    -webkit-box-shadow: 0 0 2em rgba(0, 125, 255, 0.3);
    box-shadow: 0 0 2em rgba(0, 125, 255, 0.3); }

.btn-secondary {
  background-color: #652d91;
  color: #ffffff;
  border: 1px solid #652d91;
  border-radius: 0px; }
  .btn-secondary:hover, .btn-secondary:focus {
    background-color: #7b37b0;
    color: #ffffff;
    -webkit-box-shadow: 0 0 2em rgba(101, 45, 145, 0.3);
    box-shadow: 0 0 2em rgba(101, 45, 145, 0.3); }

.btn-accent {
  background-color: #25d365;
  color: #ffffff;
  border: 1px solid #25d365;
  border-radius: 0px; }
  .btn-accent:hover, .btn-accent:focus {
    background-color: #1fb054;
    color: #ffffff;
    -webkit-box-shadow: 0 0 2em rgba(37, 211, 101, 0.5);
    box-shadow: 0 0 2em rgba(37, 211, 101, 0.5); }

.btn--big {
  font-size: 1rem;
  padding: 0.5em 1.5em; }
  @media (min-width: 48rem) {
    .btn--big {
      padding: 0.5em 2.5em; } }

.breadcrumb {
  background-color: #f7f7f7;
  padding: 0.75em 0.5em 0.75em 1.5em; }
  .breadcrumb .breadcrumb-item {
    font-size: 0.8rem; }
    .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: '>'; }
    .breadcrumb .breadcrumb-item a {
      font-size: 0.8rem; }
  @media (min-width: 48rem) {
    .breadcrumb {
      margin: auto; } }

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #686868;
  margin-bottom: 2.5em; }
  @media (min-width: 48rem) {
    .cta {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 3em; } }

.cta--title {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 1em; }
  @media (min-width: 48rem) {
    .cta--title {
      width: 100%;
      text-align: center; } }
  @media (min-width: 62rem) {
    .cta--title {
      margin-right: 2em;
      margin-bottom: 0;
      text-align: left;
      width: auto; } }

.cta--form {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  .cta--form label {
    color: #a6a6a6;
    font-size: 0.8rem; }
    @media (min-width: 36rem) {
      .cta--form label {
        margin-right: 2em;
        margin-bottom: 1em; } }
    @media (min-width: 729px) {
      .cta--form label {
        margin-bottom: 0; } }
  .cta--form .form-control {
    background-color: #686868;
    color: #ffffff;
    margin-bottom: 1em; }
    @media (min-width: 690px) {
      .cta--form .form-control {
        margin-right: 2em; } }
    @media (min-width: 729px) {
      .cta--form .form-control {
        margin-bottom: 0; } }
    .cta--form .form-control::-webkit-input-placeholder {
      font-size: 0.7rem;
      color: #a6a6a6; }
    .cta--form .form-control:-ms-input-placeholder {
      font-size: 0.7rem;
      color: #a6a6a6; }
    .cta--form .form-control::-ms-input-placeholder {
      font-size: 0.7rem;
      color: #a6a6a6; }
    .cta--form .form-control::placeholder {
      font-size: 0.7rem;
      color: #a6a6a6; }

.product--item {
  margin: 0 0.25em 0;
  padding: 0.5em;
  position: relative; }
  .product--item::before, .product--item::after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    right: 0.25em;
    left: 0.25em;
    top: 0;
    bottom: 0; }
  .product--item::before {
    border-top: 2px solid #652d91;
    border-bottom: 2px solid #652d91;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1); }
  .product--item::after {
    border-left: 2px solid #652d91;
    border-right: 2px solid #652d91;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  .product--item:hover::before, .product--item:hover::after, .product--item:focus::before, .product--item:focus::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }

.product--img {
  border: 6px solid #f7f7f7;
  margin-bottom: 1em;
  -o-object-fit: cover;
  object-fit: cover; }

.product--info {
  text-align: center;
  color: #3d3d3d; }

.product--name {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.25em; }

.product--price {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.35em; }

.product--rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0; }

.product--icon {
  color: #f2b01e;
  font-size: 0.9rem;
  padding: 0 0.1em; }

.owl-theme .owl-item img, .owl-carousel .owl-item img {
  -o-object-fit: cover;
  object-fit: cover; }

.owl-theme .owl-nav, .owl-carousel .owl-nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }
  .owl-theme .owl-nav button.owl-next, .owl-theme .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    z-index: 1; }
  .owl-theme .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-next {
    right: -1em; }
  .owl-theme .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-prev {
    left: -1em; }
  .owl-theme .owl-nav button.owl-next:hover, .owl-theme .owl-nav button.owl-next:focus, .owl-theme .owl-nav button.owl-prev:hover, .owl-theme .owl-nav button.owl-prev:focus, .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-prev:focus {
    background: none;
    outline: none; }
  .owl-theme .owl-nav button.owl-next span, .owl-theme .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
    font-size: 4rem;
    font-weight: 300;
    color: #652d91; }

.owl-theme.ow--inside .owl-nav button.owl-next, .owl-carousel.ow--inside .owl-nav button.owl-next {
  top: 50%;
  right: .75em; }

.owl-theme.ow--inside .owl-nav button.owl-prev, .owl-carousel.ow--inside .owl-nav button.owl-prev {
  top: 50%;
  left: .75em; }

.owl-theme.ow--small .owl-nav button.owl-next span, .owl-theme.ow--small .owl-nav button.owl-prev span, .owl-carousel.ow--small .owl-nav button.owl-next span, .owl-carousel.ow--small .owl-nav button.owl-prev span {
  font-size: 2rem; }
