.btn-brand
    background-color: $bg-primary
    color: $text-white
    border: 1px solid $border-primary
    border-radius: 0px
    @extend %transition

    &:hover, &:focus
        background-color: darken($bg-primary, 8%)
        color: $text-white
        box-shadow: 0 0 2em rgba($bg-primary, 0.3)

.btn-secondary
    background-color: $bg-secondary
    color: $text-white
    border: 1px solid $border-secondary
    border-radius: 0px
    @extend %transition

    &:hover, &:focus
        background-color: lighten($bg-secondary, 8%)
        color: $text-white
        box-shadow: 0 0 2em rgba($bg-secondary, 0.3)

.btn-accent
    background-color: $bg-accent
    color: $text-white
    border: 1px solid $border-accent
    border-radius: 0px
    @extend %transition

    &:hover, &:focus
        background-color: darken($bg-accent, 8%)
        color: $text-white
        box-shadow: 0 0 2em rgba($bg-accent, 0.5)

.btn--big
    font-size: 1rem
    padding: 0.5em 1.5em

    @media (min-width: 48rem)
        padding: 0.5em 2.5em
