.btn-brand
    background-color: $bg-primary
    color: $text-white
    border-radius: 0px
    @extend %transition

    &:hover, &:focus
        background-color: darken($bg-primary, 5%)
        color: $text-white
        box-shadow: 0 0 1.5em 0.25em rgba(0,0,0,0.15)
