.product--item
    margin: 0 0.25em 0
    padding: 0.5em
    position: relative

    &::before, &::after
        content: ''
        position: absolute
        display: block
        height: 100%
        right: 0.25em
        left: 0.25em
        top: 0
        bottom: 0
        @extend %transition

    &::before
        border-top: 2px solid $border-secondary
        border-bottom: 2px solid $border-secondary
        transform: scale(0, 1)

    &::after
        border-left: 2px solid $border-secondary
        border-right: 2px solid $border-secondary
        transform: scale(1, 0)

    &:hover
        &::before, &::after
            transform: scale(1, 1)

.product--img
    border: 6px solid $border-light
    margin-bottom: 1em
    object-fit: cover

.product--info
    text-align: center
    color: $text-dark

.product--name
    font-size: 0.9rem
    font-weight: $fw-normal
    margin-bottom: 0.25em

.product--price
    font-size: 0.9rem
    font-weight: $fw-bold
    margin-bottom: 0.35em

.product--rating
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 0

.product--icon
    color: $rate-icon
    font-size: 0.9rem
    padding: 0 0.1em

.owl-theme, .owl-carousel
    .owl-item
        img
            object-fit: cover
    .owl-nav
        display: flex!important
        button.owl-next, button.owl-prev
            position: absolute;
            top: 35%
            transform: translateY(-50%)
            margin: 0
            z-index: 1
            // justify-content: space-between

        button.owl-next
            right: -1em

        button.owl-prev
            left: -1em

        button.owl-next, button.owl-prev
            &:hover, &:focus
                background: none
                outline: none
            span
                font-size: 4rem
                font-weight: $fw-light
                color: $text-secondary

    &.ow--inside
        .owl-nav
            button.owl-next
                top: 50%
                right: .75em

            button.owl-prev
                top: 50%
                left: .75em

    &.ow--small
        .owl-nav
            button.owl-next, button.owl-prev
                span
                    font-size: 2rem
